body {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.okay {
    display: flex;
    //background-image: url("../personal-portfolio/images/top-banner.png");
    background-repeat: no-repeat;
}

.wow {
    width: 50%;

}

.one {
    font-size: 50px;
}

.two {
    color: magenta;
}

.three {
    padding-bottom: 15px;
}

.bt {
    width: 120px;
    height: 40px;
    border-style: hidden;
    border-radius: 0.3cm;
    background-color: rgb(255, 99, 71);
    color: whitesmoke;
    font-weight: 600;
}

.img {
    width: 100%;
    margin: 10px 0 0 10px;
}


.nothing {
    padding-top: 100px;
    display: flex;
    background-image: url("../personal-portfolio/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right 400px;
}

.img1 {
    width: 80%;
}

.nothing2 {
    width: 50%;
}

.bt2 {
    width: 200px;
    height: 50px;
    border-style: hidden;
    border-radius: 0.3cm;
    background-color: rgb(255, 99, 71);
    color: whitesmoke;
    font-weight: 600;
    font-size: 18px;
}

footer {
    text-align: center;
    padding-top: 100px;
}